.wrap-star-intro {
  @include flexbox;
  @include justify-content(space-between);
  font-family: 'Courier Prime', monospace;
}

.star-intro {
  text-transform: capitalize;
  font-family: 'Courier Prime', monospace;
  font-size: 18px;
  line-height: 21px;
  width: calc(100% - 300px);

  div {
    margin: 12px 0;
  }

  .star-intro-name {
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    margin: 24px 0;
  }
}

.wrap-star-intro {
  .starship-item-wrapper {
    width: 297px;
    max-width: 297px;
  }

}

.promo-banner {
   .header-bord-wrapper {
     height: 262px;
     margin-bottom: 104px;

     .header-bord-text {
       top: 70px;
       left: 10%;
       width: 80%;
     }

     img {
       width: 244px;
       height: 298px;
       left: calc(50% - 122px);
       top: 20px;
     }
   }
}

.wrap-grid-attributes {
  @include flexbox;
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  width: 100%;
}

.grid-attribut {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  width: calc(100% / 3 - 100px);
  height: 170px;
  background: #FFFFFF;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  margin: 15px 0;
  padding: 40px 35px;
}

.grid-attribut-key {
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.grid-attribut-value {
  font-family: Archivo Black;
  text-transform: uppercase;
  font-size: 50px;
  color: $blue;
  text-wrap: avoid;
}



















